body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	margin: 0px;
	background-color: #121212;
	color: white;
}

h1 {
	margin: 0px;
}

.main-content {
	display: flex;
}

.left-col {
	width: 33%;
	height: 100%;
}

.right-col {
	width: 66%;
	height: 100%;
}

.section {
	background-color: #272727;
	margin: 16px;
	border-radius: 8px;
	padding: 16px;
}

.travis-section img {
	width: 75%;
	display: block;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
}

.create-section textarea {
	width: 100%;
	height: 250px;
	overflow-y: scroll;
	resize: none;
}

.form-field {
	height: 40px;
}

.form-field > * {
	display: inline-block;
}

.form-field > p {
	width: 100px;
}

.form-field > input {
	width: 300px;
}